/* reset */
body {
	padding: 0;
	margin: 0;
}

/* main */
section {
	width: 250px;
	height: 200px;
	border: solid 2px #000;
	padding: 10px;
	background: #ccc;
	margin: 10px;
}

.container {
	background: #fff;
	position: absolute;
	top: 22px;
	left: 22px;
	width: 250px;
	height: 200px;
}

h3 {
	font-size: 15px;
	margin-left: 14px;
	margin-bottom: 8px;
	/* FIXME: 下划线向右扩展 */
	text-decoration: underline;
}

ul {
	list-style: none;
	padding-left: 14px;
	margin-top: 8px;
}

li {
	margin-bottom: 3px;
}

a {
	display: block;
	padding: 2px;
	padding-right: 8px;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #CCC;
}

a:hover {
	background: #999;
}

em {
	font-style: normal;
	font-weight: normal;
	float: right;
}

span {
	background: #eee;
	text-indent: -9999px;
	display: block;
}
